/* 1. Center the entire HTML page content */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 */
/* Rest of the styles */

/* 2. Style code blocks */
code {
  background-color: lightgrey;
  display: block;
  padding: 10px;
}

/* 3. Style headings */
h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

/* 4. Style paragraphs */
p {
  font-family: Calibri, sans-serif;
}
